streamlit == 1.37.1
pandas==2.2.2
beautifulsoup4==4.12.3
requests==2.32.3
selenium==4.25.0
pydantic==2.9.2
chromedriver-py==129.0.6668.100
fastapi==0.115.2
uvicorn==0.32.0
transformers==4.46.3
torch==2.5.1
langchain==0.3.8
langchain_community==0.3.8
langchain-google-genai==2.0.5
wikipedia==1.4.0
google-cloud-bigquery==3.27.0